.playlist {
  width: calc(100% - calc(var(--padding) * 2));
  --item-padding: calc(var(--padding) * 0.6);
  padding: var(--padding);
  padding-bottom: 0;
}

.playlist--grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.playlist--grid .playlist__item {
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(50% - var(--padding) * 1.8);
}

.playlist--grid .playlist__item .playlist__name {
  width: 100%;
  min-height: 40px;
  white-space: normal;
  text-overflow: unset;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: var(--padding);
}

.playlist--grid .playlist__item .playlist__icon--right {
  margin-left: 0px;
  background: var(--bg-color);
}
.playlist--grid .playlist__item .playlist__icon {
  margin-right: 0px;
  background: var(--bg-color);
}

.playlist--bottom-padded {
  padding-bottom: calc(var(--padding) * 3.2);
}

.playlist__item {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  box-shadow: var(--box-shadow);
  background: var(--bg-color-accent-2);
  border-radius: calc(var(--padding) / 2);
  margin-bottom: calc(var(--padding) * 1.2);
  padding: var(--item-padding);
}

.playlist__item--selected {
  background: var(--bg-color-accent);
}

.playlist__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 24px;
  transition: background 0.3s ease;
  background: var(--bg-color);
  margin-right: var(--item-padding);
}
.playlist__icon:hover {
  transition: background 0.3s ease;
  background: var(--bg-color-secondary);
}

.playlist__name {
  overflow: hidden;
  font-weight: 400;
  user-select: none;
  letter-spacing: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: calc(100% - 56px - 56px);
}

.playlist__icon--right {
  margin-right: 0px;
  background: transparent;
  margin-left: var(--item-padding);
}
