.app__wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--color-primary);
  background-color: var(--bg-color);
}

.app__container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding);
}

.app__visualizer {
  top: 40%;
  position: absolute;
}

.app__content {
  z-index: 2;
  background: transparent;
}
