.song-list-item {
  padding: 10px 8px;
  font-size: 16px;
  cursor: pointer;
}
.song-list-item:hover {
  background: #cccccc;
}

.button {
  width: 100px;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 8px;
  text-align: center;
  border-radius: 2px;
  background: #eeeeee;
  text-transform: uppercase;
  border: 1px solid #cecece;
}

.button:hover {
  background: #ffffff;
}
