@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

:root {
  --padding: 24px;

  --bg-color: #191b2d;
  --bg-color-accent: #35395f;
  --bg-color-accent-2: #20233a;
  --bg-color-secondary: #4a5085;

  --color-primary: rgba(255, 255, 255, 1);
  --color-secondary: rgba(255, 255, 255, 0.78);
  --color-disabled: rgba(255, 255, 255, 0.46);

  --box-shadow: 0 0px 0.8px rgba(0, 0, 0, 0.029),
    0 0px 1.9px rgba(0, 0, 0, 0.041), 0 0px 3.5px rgba(0, 0, 0, 0.048),
    0 0px 5.8px rgba(0, 0, 0, 0.053), 0 0px 9.5px rgba(0, 0, 0, 0.056),
    0 0px 16.6px rgba(0, 0, 0, 0.058), 0 0px 36px rgba(0, 0, 0, 0.06);
  --transition: cubic-bezier(0.62, 0.44, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-weight: 300;
  font-family: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
