:root {
  --padding: 24px;

  --bg-color: #191b2d;
  --bg-color-secondary: #42415a;

  --color-primary: rgba(255, 255, 255, 1);
  --color-secondary: rgba(255, 255, 255, 0.78);
  --color-disabled: rgba(255, 255, 255, 0.46);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
